.TasksContainer {
    height: 85%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .TasksContainer {
        width: 90%;
    }   
}