.FormContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormBox {
    background-color: rgb(245, 247, 250);
    padding: 1.2rem;
    text-align: center;
    box-shadow: 0px 11px 54px 0px rgb(0, 0, 0, 0.75);
}

.FormHeader {
    font-family: 'Pacifico', cursive;
    margin: 15px;
}

.FormHeaderLine {
    width: 50%;
    margin: auto;
    padding: 2px;
    background: linear-gradient(83deg, rgba(143,3,119,1) 0%, rgba(68,111,208,1) 42%, rgba(119,50,164,1) 90%);
    border-radius: 10%;
}

.FormInput {
    padding: 0.8rem;
    margin: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid  rgb(143,3,119);;
}

.FormButton {
    margin: 10px;
    padding: 0.4rem 2rem;
    border-radius: 20px;
    border: none;
    outline: none;
    color: rgb(245, 247, 250);
    font-weight: 900;
    font-family: cursive;
    background: #7732a4;
    cursor: pointer;
    transition: 0.5s;
}

.FormButton:hover {
    transform: scale(1.1);
}