.TaskContainer {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(243, 239, 239);
    box-shadow: 0px 11px 54px 0px rgb(0, 0, 0, 0.75);
    margin-top: 10px;
    margin-bottom: 10px;
}

.TaskName {
    width: 80%;
    border: none;
    outline: none;
    background-color: rgb(243, 239, 239);;
    border-bottom: 2px solid  rgb(143,3,119);
    text-align: left;
    font-size: 17px;
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
}

.DeleteTask {
    width: 30px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0px 11px 54px 0px rgb(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: red;
    color: rgb(245, 230, 230);
}

@media screen and (max-width: 900px) {
    .TaskContainer {
        width: 100%;
    }   
}

@media screen and (max-width: 450px) {
    .DeleteTask {
        width: 40px;
        height: 40px;
    }   
}